<!-- wp:template-part {"slug":"header","theme":"cdilblocks"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
    <div class="wp-block-group alignwide"><!-- wp:post-title {"level":1} /-->
    
    <!-- wp:post-content {"className":"alignfull","layout":{"inherit":false}} /-->
    
    <!-- wp:lazyblock/resourcelist {"blockId":"Z1QWEEC","blockUniqueClass":"lazyblock-resourcelist-Z1QWEEC"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->