<!-- wp:template-part {"slug":"header","theme":"cdilblocks"} /-->

<!-- wp:group {"tagName":"main","className":"alignfull","layout":{"inherit":false,"wideSize":"100%"}} -->
<main class="wp-block-group alignfull"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"40ch","style":{"spacing":{"blockGap":"1rem"}}} -->
    <div class="wp-block-column" style="flex-basis:40ch"><!-- wp:heading {"level":3} -->
    <h3 id="resources">Resources</h3>
    <!-- /wp:heading -->
    
    <!-- wp:lazyblock/resourcelist {"blockId":"Zo7QCe","blockUniqueClass":"lazyblock-resourcelist-Zo7QCe"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"75ch"} -->
    <div class="wp-block-column" style="flex-basis:75ch"><!-- wp:post-title {"level":1} /-->
    
    <!-- wp:post-content {"className":"alignfull","layout":{"inherit":false}} /-->
    
    <!-- wp:lazyblock/next-previous-resource {"blockId":"Z1VJEfv","blockUniqueClass":"lazyblock-next-previous-resource-Z1VJEfv"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"30ch"} -->
    <div class="wp-block-column" style="flex-basis:30ch"><!-- wp:lazyblock/toc {"blockId":"Z2uEdku","blockUniqueClass":"lazyblock-toc-Z2uEdku"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></main>
    <!-- /wp:group -->