<!-- wp:template-part {"slug":"header","theme":"cdilblocks","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"alignfull","layout":{"inherit":false,"wideSize":"100%"}} -->
<main class="wp-block-group alignfull"><!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column {"width":"40ch","style":{"spacing":{"blockGap":"1rem"}}} -->
	<div class="wp-block-column" style="flex-basis:40ch"><!-- wp:heading {"level":3} -->
	<h3>Resources</h3>
	<!-- /wp:heading -->
	
	<!-- wp:lazyblock/resourcelist {"blockId":"Zo7QCe","blockUniqueClass":"lazyblock-resourcelist-Zo7QCe"} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"75ch"} -->
	<div class="wp-block-column" style="flex-basis:75ch"><!-- wp:post-title {"fontSize":"large"} /-->
	
	<!-- wp:post-content {"className":"alignfull","layout":{"inherit":false}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"30ch"} -->
	<div class="wp-block-column" style="flex-basis:30ch"><!-- wp:luckywp/tableofcontents /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></main>
	<!-- /wp:group -->
	
	<!-- wp:lazyblock/next-previous-resource {"blockId":"Z2eovH6","blockUniqueClass":"lazyblock-next-previous-resource-Z2eovH6"} /-->