<!-- wp:template-part {"slug":"header-minimal-white","theme":"cdilblocks"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"className":"alignfull","layout":{"inherit":false,"contentSize":"100%"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:bcn/breadcrumb-trail /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"alignfull","layout":{"inherit":false,"wideSize":"100%"}} -->
<main class="wp-block-group alignfull"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40ch","style":{"spacing":{"blockGap":"1rem"}}} -->
<div class="wp-block-column" style="flex-basis:40ch"><!-- wp:heading {"level":3} -->
<h3 id="resources">Resources</h3>
<!-- /wp:heading -->

<!-- wp:lazyblock/resourcelist {"blockId":"Zo7QCe","blockUniqueClass":"lazyblock-resourcelist-Zo7QCe"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"75ch"} -->
<div class="wp-block-column" style="flex-basis:75ch"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content {"className":"alignfull","layout":{"inherit":false}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30ch"} -->
<div class="wp-block-column" style="flex-basis:30ch"><!-- wp:lazyblock/toc {"blockId":"Z1cW6wS","blockUniqueClass":"lazyblock-toc-Z1cW6wS"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:lazyblock/next-previous-resource {"blockId":"Z2eovH6","blockUniqueClass":"lazyblock-next-previous-resource-Z2eovH6"} /-->